services:
  spark-lab:
    build: .
    volumes:
      - .:/app
    env_file:
      - .env
    environment:
      - JAVA_HOME=/usr/lib/jvm/java-11-openjdk-amd64
      - SPARK_CONF_DIR=/app/conf
      - POSTGRES_HOST=${POSTGRES_HOST:-host.docker.internal}
      - POSTGRES_PORT=${POSTGRES_PORT:-5432}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    command: tail -f /dev/null
    tty: true
    stdin_open: true
    # Add extra_hosts to ensure host.docker.internal works on all platforms
    extra_hosts:
      - "host.docker.internal:host-gateway"
