services:
  spark-lab:
    build: .
    volumes:
      - .:/app
    environment:
      - JAVA_HOME=/usr/lib/jvm/java-11-openjdk-amd64
      - SPARK_CONF_DIR=/app/conf
      - POSTGRES_HOST=postgres
      - POSTGRES_PORT=5432
      - POSTGRES_DB=aviation_analytics
      - POSTGRES_USER=spark_user
      - POSTGRES_PASSWORD=spark_password
    command: tail -f /dev/null
    tty: true
    stdin_open: true
    depends_on:
      - postgres
    networks:
      - spark-network

  postgres:
    image: postgres:16-alpine
    container_name: pyspark-postgres
    environment:
      - POSTGRES_DB=aviation_analytics
      - POSTGRES_USER=spark_user
      - POSTGRES_PASSWORD=spark_password
      - POSTGRES_INITDB_ARGS=--encoding=UTF-8 --lc-collate=C --lc-ctype=C
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./sql/init:/docker-entrypoint-initdb.d
      - ./sql/scripts:/sql/scripts
    ports:
      - "5432:5432"
    networks:
      - spark-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U spark_user -d aviation_analytics"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
    driver: local

networks:
  spark-network:
    driver: bridge
